body{
margin:0;
padding:0;
}
img{
border-radius:16px;
border: 1px solid #ddd;
padding:5px;
}
div.box{
float:left;
}

div.box1{
float:right;
}

.container {
    position: relative;
    width: 100%;
}

.right {
    position: relative;
    right: 0px;
    width: 300px;
    background-color: #b0e0e6;
}